body, html {
    height: 100%;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
}




