<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tambah Sesi Vaksinasi</title>
    <style>
      table, tr, td {
        text-align: left
      }
    </style>
  </head>
  <body>
    <h1>Info Sesi Vaksinasi Terbaru</h1>
    <form action='' method='POST'>
        <table>
        {% csrf_token %}
          <tr>
            <td>Waktu:</td>
            <td>{{form.waktu}}</td>
          </tr>
          <tr>
            <td>Tempat pelaksanaan:</td>
            <td>{{ form.tempat_pelaksanaan }}</td>
          </tr>
          <tr>
            <td>Jenis vaksin:</td>
            <td>{{ form.jenis_vaksin }}</td>
          </tr>
          <tr>
            <td>Kuota:</td>
            <td>{{ form.kuota }}</td>
          </tr>
        </table>
      </br><input type="submit" value="submit">
    </form>
  </body>
</html>
