{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Sentra Vaksin - E03</title>
        <link rel="stylesheet" href='{% static "/css/message.css" %}'>
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="info">
            <img src='{% static "/img/cone.png" %}' alt="Sentra Vaksin">
            <h1>Coming soon!</h1>
            <p>Project is under construction...</p>
        </div>
    </body>
</html>